<h1>goodfoodhunting</h1>

<form action="/dishes" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="">name</label>
  <input type="text" name="name" id="dish-name">

  <label for="">image url</label>
  <input type="text" name="image_url" id="dish-image-url">

  <button id="add-dish">add dish</button>
</form>

<div class="dish-list">
  <% @dishes.each do |dish| %>
  <div class="ui-card" data-dish-id="<%= dish.id %>">
    <header class="content">
      <div class="right">14h</div>
      <img class="avatar" src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97200&w=200&h=200" alt=""> DT
    </header>
    <div class="image">
      <img src="<%= dish.image_url %>" alt="">
      <span class="star">&#9733;</span>
    </div>
    <div class="content">
      <h2><%= dish.name %></h2>
      <h4>at GA</h4>  
    </div>
    <footer class="content">
      <span class="right counter"><%= dish.likes.count %></span>
      <span>bookmark</span>
    </footer>
  </div>
  <% end %>
</div>

<script>



$('#add-dish').on('click', function(event) {
  event.preventDefault(); // js: i got this, form submission step aside
  console.log('adding dish');

  var settings = {
    url: '/api/dishes',
    method: 'post',
    data: { name: $('#dish-name').val(), image_url: $('#dish-image-url').val() }
  }

  var happyDays = function(response) {
    console.log('happy days');

    var $header = $('<header class="content"><div class="right">14h</div><img class="avatar" src="https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97200&w=200&h=200" alt=""> DT </header>');

    var $imageTag = $('<img>').attr('src', response.image_url);
    var $starSpan = $('<span>').addClass('star').html('&#9733;');
    var $imageDiv = $('<div>').addClass('image').append($imageTag).append($starSpan);
    var $contentDiv = $('<div>').addClass('content').html('<h2>' + response.name + '</h2><h4>at GA</h4>') ;
    var $footer = $('<footer>').html('<span class="right counter">'+ response.like_count +'</span><span>bookmark</span>');

    var $newDiv = $('<div>')
      .addClass('ui-card')
      .attr('data-dish-id', response.id);

    $newDiv.append( $header );
    $newDiv.append( $imageDiv );
    $newDiv.append( $contentDiv );
    $newDiv.append( $footer );

    $('.dish-list').append( $newDiv );
  }

  var sadDays = function() {
    console.log('life sucks');
  }

  $.ajax(settings).done(happyDays).fail(sadDays);
});

  
$('.star').on('click',function(event) {

  // make an ajax call to /api/likes

  // caching $uiCard
  var $uiCard = $(event.target).closest('.ui-card');
  var dishId = $uiCard.data('dish-id');

  var settings = {
    url: '/api/likes',
    data: { dish_id: dishId },
    method: 'post'
  }

  var incrementStarCount = function(response) {
    console.log(response);
    var $countSpan = $uiCard.find('footer .right');
    $countSpan.html( response.like_count );    
  }

  $.ajax(settings).done(incrementStarCount);

  // inside the done callback function update the html count

  // this === event.target
  // var $countSpan = $(event.target).closest('.ui-card').find('footer .right');
  // $countSpan.html(Number($countSpan.html()) + 1);

});

// HTTParty.get('http://www.google.com')

// var horray = function(data) {
//   console.log('horrray');
//   console.log(data.id);
// }


// $.ajax({
//   url: '/api/likes',
//   method: 'post'
// }).done(horray);





</script>







